
@keyframes flicker {
  0%, 1% { background-color: #fff; }
  2%, 99% {
    background: url(images/forest-entrance.png); 
    background-image: no-repeat; 
    background-size: cover;
}
  100% { background-color: #fff; }
}

body {
  animation: flicker 2s;
  animation-iteration-count: 5;
  background-color: red;
}   
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header {
    position: sticky;
    width: 100%;
    height: 50px;
    background-color: darkgray;
}

header img {
    height: 50px;
    width: auto;
    padding: 10px;
}

#content-main {
    display: flex;
}

#button {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgb(117,0,0);
    text-align: center;
    width: 30%;
    padding: 15px;
    border: 3px solid rgb(117, 0, 0);
    color: white;
    transform: translate(-50%, -50%);

}

#blood-drip img {
    position: absolute;
    top: 64%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 383px;
    height: 130px;
}